<template>
  <div class="about">
    <FormAvaliacao></FormAvaliacao>
  </div>
</template>

<script>
// @ is an alias to /src
import FormAvaliacao from '@/components/FormAvaliacao.vue'

export default {
  name: 'Avaliacao',
  components: {
    FormAvaliacao
  },
  data () {
    return {
    }
  },
}
</script>
