<template>
  <div class="about">
    <FormBimestreAluno></FormBimestreAluno>
  </div>
</template>

<script>
// @ is an alias to /src
import FormBimestreAluno from '@/components/FormBimestreAluno.vue'

export default {
  name: 'Bimestre',
  components: {
    FormBimestreAluno
  },
  data () {
    return {
      path: this.$route.fullPath
    }
  },
}
</script>
