<template>
  <div class="about">
    <h1>Alunos</h1>
    <FormAluno/>
  </div>
</template>

<script>
// @ is an alias to /src
import FormAluno from '@/components/FormAluno.vue'

export default {
  name: 'CadAluno',
  components: {
    FormAluno
  },
  data () {
    return {
      path: this.$route.fullPath
    }
  },
}
</script>
