<template>
  <div class="about">
    <h1>Professores</h1>
    <FormProf/>
  </div>
</template>

<script>
// @ is an alias to /src
import FormProf from '@/components/FormProf.vue'

export default {
  name: 'CadProf',
  components: {
    FormProf
  },
  data () {
    return {
    }
  }
}
</script>
