<template>
  <div>
    <FormTurma/>
  </div>
</template>

<script>
// @ is an alias to /src
import FormTurma from '@/components/FormTurma.vue'

export default {
  name: 'CadTurma',
  components: {
    FormTurma
  },
  data () {
    return {
      path: this.$route.fullPath
    }
  },
}
</script>
