<template>
  <div>
    <FormTurmaAluno></FormTurmaAluno>
  </div>
</template>

<script>
// @ is an alias to /src
import FormTurmaAluno from '@/components/FormTurmaAluno.vue'

export default {
  name: 'CadTurmaAluno',
  components: {
    FormTurmaAluno
  },
  data () {
    return {
    }
  },
}
</script>
