<template>
  <div class="about">
    <FormDiario></FormDiario>
  </div>
</template>

<script>
// @ is an alias to /src
import FormDiario from '@/components/FormDiario.vue'

export default {
  name: 'Diario',
  components: {
    FormDiario
  },
  data () {
    return {
      path: this.$route.fullPath
    }
  },
}
</script>
