<template>
  <div>
    <div class="request row">
      <div class="form col">
        <h4 class="h4">Inserir Professor</h4>
        <form>
          <input class="form-control" v-model="insertProfNome" type="text" placeholder="Nome">
          <input class="form-control" v-model="insertDisciplina" type="text" placeholder="Disciplina">
          <input class="form-control" v-model="insertEmail" type="email" placeholder="E-mail">
          <input class="form-control" v-model="insertSenha" type="password" placeholder="Senha">
          <button class="btn btn-info" v-on:click="create">Criar</button>
      </form>
      </div>

      <div class="form col">
        <h4 class="h4">Buscar Professores</h4>
        <button class="btn btn-info" v-on:click="get">Buscar</button>
      </div>
      
      <div class="form col">
        <h4 class="h4">Buscar Professor</h4>
        <form>
          <input class="form-control" v-model="getIdProf" type="text" placeholder="Id Professor">
          <button class="btn btn-info" v-on:click="getId">Buscar</button>
        </form>
      </div>
      
      <div class="form col">
        <h4 class="h4">Atualizar Professor</h4>
        <form>
          <input class="form-control" v-model="updateIdProf" type="text" placeholder="Id Professor">
          <input class="form-control" v-model="updateProfNome" type="text" placeholder="Nome">
          <input class="form-control" v-model="updateDisciplina" type="text" placeholder="Disciplina">
          <input class="form-control" v-model="updateEmail" type="email" placeholder="E-mail">
          <input class="form-control" v-model="updateSenha" type="password" placeholder="Senha">
          <button class="btn btn-info" v-on:click="put">Atualizar</button>
      </form>
      </div>
      
      <div class="form col">
        <h4 class="h4">Apagar Professor</h4>
        <input class="form-control" v-model="delIdProf" type="text" placeholder="Id Professor">
        <button class="btn btn-info" v-on:click="del">Apagar</button>
      </div>
    </div>
    <div class="result row">
      <div class="table-profs col" v-if="this.info !== null">
        <p>{{ this.info.Mensagem}}</p>
      </div>

      <div class="table-profs col" v-if="this.getInfo !== null">
        <p>PROFESSORES CADASTRADOS</p>
          <ul class="row" v-for="profInfo in this.getInfo" :key="profInfo.IdCadProfessor">
              <li class="col-2 col-form">ID: {{ profInfo.IdCadProfessor }}</li>
              <li class="col-2 col-form">Professor: {{ profInfo.NomeProfessor }}</li>
              <li class="col-2 col-form">Disciplina: {{ profInfo.Disciplina }}</li>
              <li class="col-4 col-form">E-mail: {{ profInfo.Email }}</li>
          </ul>
        </div>

        <div class="table-profs col" v-if="this.getInfoProf !== null">
          <p>PROFESSOR CADASTRADO - ID {{ getInfoProf.IdCadProfessor }}</p>
          <ul class="row">
              <li class="col-2 col-form">ID: {{ getInfoProf.IdCadProfessor }}</li>
              <li class="col-2 col-form">Professor: {{ getInfoProf.NomeProfessor }}</li>
              <li class="col-2 col-form">Disciplina: {{ getInfoProf.Disciplina }}</li>
              <li class="col-4 col-form">E-mail: {{ getInfoProf.Email }}</li>
          </ul>
        </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
export default {
  name: 'FormProf',
  props: {
  },
  data () {
    return {
      insertProfNome: null,
      insertDisciplina: null,
      insertEmail: null,
      insertSenha: null,
      updateIdProf: null,
      updateProfNome: null,
      updateDisciplina: null,
      updateEmail: null,
      updateSenha: null,
      getInfo: null,
      getIdProf: null,
      getInfoProf: null,
      delIdProf: null, 
      info:null
    }
  },
  methods: {
    create: function () {
      const cad = {
        "IdCadProfessor": 0,
        "NomeProfessor": this.insertProfNome,
        "Disciplina": this.insertDisciplina,
        "Email": this.insertEmail,
        "Senha": this.insertSenha
      }
      axios
        .post('https://eiko.com.br/dev/univesp/backend/api/Professor/', cad)
        .then(response => (this.info = response.data))
    },
    get: function () {
      axios
        .get('https://eiko.com.br/dev/univesp/backend/api/Professor')
        .then(response => (this.getInfo = response.data))
    },
    getId: function () {
      axios
        .get(`https://eiko.com.br/dev/univesp/backend/api/Professor/${this.getIdProf}`)
        .then(response => (this.getIdInfo = response.data))
    },
    del: function () {
      axios
        .delete(`https://eiko.com.br/dev/univesp/backend/api/Professor/${this.delIdProf}`)
        .then(response => (this.info = response.data))
    },
    put: function () {
      const cad = {
        "IdCadProfessor": 0,
        "NomeProfessor": this.updateProfNome,
        "Disciplina": this.updateDisciplina,
        "Email": this.updateEmail,
        "Senha": this.updateSenha
      }
      axios
        .put(`https://eiko.com.br/dev/univesp/backend/api/Professor/${this.updateIdProf}`, cad)
        .then(response => (this.info = response.data))
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}

.request {
  margin: 0;
}
.form-control {
  margin: 5px;
}

.col-form {
  text-align: left;
  margin: auto;
  padding: 5px;
}
.table-profs {
  margin: 2em;
}
.table-profs .row {
  border: 1px solid #000;
  border-radius: 8px;
}
</style>
