<template>
  <div class="hello">
    <div class="request row">
    <div class="form col">
      <h4 class="h4">Inserir Aluno</h4>
      <form>
        <input class="form-control" v-model="insertAlunoNome" type="text" placeholder="Nome">
        <button class="btn btn-info" v-on:click="create">Criar</button>
      </form>
    </div>
    <div class="form col">
      <h4 class="h4">Buscar Alunos</h4>
      <button class="btn btn-info" v-on:click="get">Pesquisar</button>
    </div>
    <div class="form col">
      <h4 class="h4">Buscar Aluno</h4>
      <form>
        <input class="form-control" v-model="getIdAluno" type="text" placeholder="Id Aluno">
        <button class="btn btn-info" v-on:click="getId">Pesquisar</button>
      </form>
    </div>
    <div class="form col">
      <h4 class="h4">Atualizar Aluno</h4>
      <form>
        <input class="form-control" v-model="updateIdAluno" type="text" placeholder="Id Aluno">
        <input class="form-control" v-model="updateAlunoNome" type="text" placeholder="Nome">
        <button class="btn btn-info" v-on:click="put">Atualizar</button>
      </form>
    </div>
    <div class="form col">
      <h4 class="h4">Apagar Aluno</h4>
      <form>
        <input class="form-control" v-model="delIdAluno" type="text" placeholder="Id Aluno">
        <button class="btn btn-info" v-on:click="del">Deletar</button>
      </form>
    </div>
    </div>
    <div class="result row">
      <div class="table-profs col" v-if="this.info !== null">
        <p>{{ this.info.Mensagem}}</p>
      </div>

      <div class="table-profs col" v-if="this.getInfo !== null">
        <p>ALUNOS CADASTRADOS</p>
          <ul class="row" v-for="alunoInfo in this.getInfo" :key="alunoInfo.IdCadAluno">
              <li class="col-2 col-form">ID: {{ alunoInfo.IdCadAluno }}</li>
              <li class="col-2 col-form">Aluno: {{ alunoInfo.NomeAluno }}</li>
          </ul>
        </div>

        <div class="table-profs col" v-if="this.getIdAluno !== null">
          <p>ALUNO CADASTRADO - ID {{ getIdAluno.IdCadAluno }}</p>
          <ul class="row">
              <li class="col-2 col-form">ID: {{ getIdAluno.IdCadAluno }}</li>
              <li class="col-2 col-form">Aluno: {{ getIdAluno.NomeAluno }}</li>
          </ul>
        </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
export default {
  name: 'FormAluno',
  props: {
  },
  data () {
    return {
      insertAlunoNome: null,
      getInfo: null,
      getIdAluno: null,
      getIdInfo: null,
      updateIdAluno: null,
      updateAlunoNome: null,
      delIdAluno: null,
      info: null
    }
  },
  methods: {
    create: function () {
      const cad = {
        "IdCadAluno": 0,
        "NomeAluno": this.insertAlunoNome
      }
      axios
        .post('https://eiko.com.br/dev/univesp/backend/api/Aluno', cad)
        .then(response => (this.info = response.data))
    },
    get: function () {
      axios
        .get('https://eiko.com.br/dev/univesp/backend/api/Aluno')
        .then(response => (this.getInfo = response.data))
    },
    getId: function () {
      axios
        .get(`https://eiko.com.br/dev/univesp/backend/api/Aluno/${this.getIdAluno}`)
        .then(response => (this.getIdInfo = response.data))
    },
    del: function () {
      axios
        .delete(`https://eiko.com.br/dev/univesp/backend/api/Aluno/${this.delIdAluno}`)
        .then(response => (this.info = response.data))
    },
    put: function () {
      const cad = {
        "IdCadAluno": 0,
        "NomeAluno": this.updateAlunoNome
      }
      axios
        .put(`https://eiko.com.br/dev/univesp/backend/api/Aluno/${this.updateIdAluno}`, cad)
        .then(response => (this.info = response.data))
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}

.request {
  margin: 0;
}
.form-control {
  margin: 5px;
}

.col-form {
  text-align: left;
  margin: auto;
  padding: 5px;
}
.table-profs {
  margin: 2em;
}
.table-profs .row {
  border: 1px solid #000;
  border-radius: 8px;
}
</style>
