<template>
  <div>
    <div class="request row">
      <div class="form col">
      <h4 class="h4">Inserir Presença</h4>
      <form>
        <input class="form-control" v-model="insertIdTurma" type="text" placeholder="Id Turma" v-on:input="getId">
        <input class="form-control" v-model="insertIdAluno" type="text" placeholder="Id Aluno">
        <label for="insert1Ini">Data da Aula</label>
        <input class="form-control" v-model="insertData" type="date">
        <p>
          <span>
            <input class="form-control form-radio" type="radio" id="pre" value="P" v-model="insertPresenca">
            <label for="pre">Presença</label>
          </span>
          <span>
            <input class="form-control form-radio" type="radio" id="falta" value="F" v-model="insertPresenca">
            <label for="falta">Falta</label>
          </span>
        </p>
        
        <button class="btn btn-info" v-on:click="save">Salvar</button>
      </form>
    </div>

      <div class="table-profs col" v-if="this.getInfo !== null">
        <p>PRESENÇAS CADASTRADAS</p>
          <ul class="row" v-for="turmaInfo in this.getInfo" :key="turmaInfo.IdMovAvaliacao">
            <li class="col col-form">ID: {{ turmaInfo.IdMovAvaliacao }}</li>
            <li class="col col-form">ID Turma: {{ turmaInfo.IdCadTurma }}</li>
            <li class="col col-form">ID Aluno: {{ turmaInfo.IdCadAluno }}</li>
            <li class="col col-form">Data da Prova: {{ turmaInfo.Data }}</li>
            <li class="col col-form">Presença: {{ turmaInfo.Presenca }}</li>
          </ul>
        </div>

    <div class="form col">
      <h4 class="h4">Apagar Presença</h4>
      <input class="form-control" v-model="delIdTurma" type="text" placeholder="Id Turma">
      <button class="btn btn-info" v-on:click="del">Apagar</button>
    </div>
    </div>
    <div class="result row">
      <div class="table-profs col" v-if="this.info !== null">
        <p>{{ this.info.Mensagem}}</p>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import moment from "moment";
export default {
  name: 'FormDiario',
  props: {
  },
  data () {
    return {
      insertIdTurma: null,
      insertIdAluno: null,
      insertData: null,
      insertPresenca: null,
      delIdTurma: null,
      getInfo: null,
      info: null
    }
  },
  methods: {
    save: function () {
      this.insertData = moment(this.insertData).format('DD/MM/YYYY')
      const cad = {
        "IdMovDiario": 0,
        "IdCadTurma": this.insertIdTurma,
        "IdCadAluno": this.insertIdAluno,
        "Data": this.insertData,
        "Presenca": this.insertPresenca
      }
      axios
        .post('https://eiko.com.br/dev/univesp/backend/api/Diario', cad)
        .then(response => (this.info = response.data.Mensagem))
    },
    getId: function () {
      axios
        .get(`https://eiko.com.br/dev/univesp/backend/api/Turma/${this.insertIdTurma}`)
        .then(response => (this.getInfo = response.data))
    },
    del: function () {
      axios
        .delete(`https://eiko.com.br/dev/univesp/backend/api/Diario/${this.delIdTurma}`)
        .then(response => (this.info = response.data.Mensagem))
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
.row {
  margin:0;
}
.request {
  margin: 0;
  margin-top: 15px;
}
.form-control {
  margin: 5px;
}
.form-radio {
  height: auto;
  width: 15px;
  display: inline-block;
}
.col-form {
  text-align: left;
  margin: auto;
  padding: 5px;
}
.table-profs {
  margin: 2em;
}
.table-profs .row {
  border: 1px solid #000;
  border-radius: 8px;
}
</style>
