<template>
  <div>
    <div class="request row">
      <div class="form col">
      <h4 class="h4">Inserir Turma</h4>
      <form>
        <input class="form-control" v-model="insertTurma" type="text" placeholder="Nome da Turma">
        <input class="form-control" v-model="insertIdProf" type="text" placeholder="Id Professor">
        <label for="insert1Ini">1º Bim Inicio</label>
        <input class="form-control" v-model="insert1Ini" type="date">
        <label for="insert1Ini">1º Bim Fim</label>
        <input class="form-control" v-model="insert1Fim" type="date">
        <label for="insert2Ini">2º Bim Inicio</label>
        <input class="form-control" v-model="insert2Ini" type="date">
        <label for="insert2Ini">2º Bim Fim</label>
        <input class="form-control" v-model="insert2Fim" type="date">
        <label for="insert3Ini">3º Bim Inicio</label>
        <input class="form-control" v-model="insert3Ini" type="date">
        <label for="insert3Ini">3º Bim Fim</label>
        <input class="form-control" v-model="insert3Fim" type="date">
        <label for="insert4Ini">4º Bim Inicio</label>
        <input class="form-control" v-model="insert4Ini" type="date">
        <label for="insert4Ini">4º Bim Fim</label>
        <input class="form-control" v-model="insert4Fim" type="date">
        <button class="btn btn-info" v-on:click="create">Criar</button>
      </form>
    </div>
    <div class="form col">
      <h4 class="h4">Buscar Turmas</h4>
      <button class="btn btn-info" v-on:click="get">Buscar</button>
    </div>
    <div class="form col">
      <h4 class="h4">Buscar Turma</h4>
      <form>
        <input class="form-control" v-model="getIdTurma" type="text" placeholder="Id Turma">
        <button class="btn btn-info" v-on:click="getId">Buscar</button>
      </form>
    </div>
    <div class="form col">
      <h4 class="h4">Atualizar Turma</h4>
      <form>
        <input class="form-control" v-model="updateIdTurma" type="text" placeholder="Id Turma">
        <input class="form-control" v-model="updateTurma" type="text" placeholder="Nome da Turma">
        <input class="form-control" v-model="updateIdProf" type="text" placeholder="Id Professor">
        <label for="update1Ini">1º Bim Inicio</label>
        <input class="form-control" v-model="update1Ini" type="date">
        <label for="update1Ini">1º Bim Fim</label>
        <input class="form-control" v-model="update1Fim" type="date">
        <label for="update2Ini">2º Bim Inicio</label>
        <input class="form-control" v-model="update2Ini" type="date">
        <label for="update2Ini">2º Bim Fim</label>
        <input class="form-control" v-model="update2Fim" type="date">
        <label for="update3Ini">3º Bim Inicio</label>
        <input class="form-control" v-model="update3Ini" type="date">
        <label for="update3Ini">3º Bim Fim</label>
        <input class="form-control" v-model="update3Fim" type="date">
        <label for="update4Ini">4º Bim Inicio</label>
        <input class="form-control" v-model="update4Ini" type="date">
        <label for="update4Ini">4º Bim Fim</label>
        <input class="form-control" v-model="update4Fim" type="date">
        <button class="btn btn-info" v-on:click="put">Atualizar</button>
      </form>
    </div>
    <div class="form col">
      <h4 class="h4">Apagar Turma</h4>
      <input class="form-control" v-model="delIdTurma" type="text" placeholder="Id Turma">
      <button class="btn btn-info" v-on:click="del">Apagar</button>
    </div>
    </div>
    <div class="result row">
      <div class="table-profs col" v-if="this.info !== null">
        <p>{{ this.info.Mensagem}}</p>
      </div>

      <div class="table-profs col" v-if="this.getInfo !== null">
        <p>TURMAS CADASTRADAS</p>
          <ul class="row" v-for="turmaInfo in this.getInfo" :key="turmaInfo.IdCadTurma">
            <li class="col col-form">ID: {{ turmaInfo.IdCadTurma }}</li>
            <li class="col col-form">ID Professor: {{ turmaInfo.IdCadProfessor }}</li>
            <li class="col-2 col-form">Nome Turma: {{ turmaInfo.NomeTurma }}</li>
            <li class="col col-form">Inicio 1º Bim: {{ turmaInfo.B1Inicial }}</li>
            <li class="col col-form">Fim 1º Bim: {{ turmaInfo.B1Final }}</li>
            <li class="col col-form">Inicio 2º Bim: {{ turmaInfo.B2Inicial }}</li>
            <li class="col col-form">Fim 2º Bim: {{ turmaInfo.B2Final }}</li>
            <li class="col col-form">Inicio 3º Bim: {{ turmaInfo.B3Inicial }}</li>
            <li class="col col-form">Fim 3º Bim: {{ turmaInfo.B3Final }}</li>
            <li class="col col-form">Inicio 4º Bim: {{ turmaInfo.B4Inicial }}</li>
            <li class="col col-form">Fim 4º Bim: {{ turmaInfo.B4Final }}</li>
          </ul>
        </div>

        <div class="table-profs col" v-if="this.getInfoTurma !== null">
          <p>TURMA CADASTRADA - ID {{ getInfoTurma.IdCadTurma }}</p>
          <ul class="row">
            <li class="col col-form">ID: {{ getInfoTurma.IdCadTurma }}</li>
            <li class="col col-form">ID Professor: {{ getInfoTurma.IdCadProfessor }}</li>
            <li class="col-2 col-form">Nome Turma: {{ getInfoTurma.NomeTurma }}</li>
            <li class="col col-form">Inicio 1º Bim: {{ getInfoTurma.B1Inicial }}</li>
            <li class="col col-form">Fim 1º Bim: {{ getInfoTurma.B1Final }}</li>
            <li class="col col-form">Inicio 2º Bim: {{ getInfoTurma.B2Inicial }}</li>
            <li class="col col-form">Fim 2º Bim: {{ getInfoTurma.B2Final }}</li>
            <li class="col col-form">Inicio 3º Bim: {{ getInfoTurma.B3Inicial }}</li>
            <li class="col col-form">Fim 3º Bim: {{ getInfoTurma.B3Final }}</li>
            <li class="col col-form">Inicio 4º Bim: {{ getInfoTurma.B4Inicial }}</li>
            <li class="col col-form">Fim 4º Bim: {{ getInfoTurma.B4Final }}</li>
          </ul>
        </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import moment from "moment";
export default {
  name: 'FormTurma',
  props: {
  },
  data () {
    return {
      insertTurma: null,
      insertIdProf: null,
      insert1Ini: null,
      insert1Fim: null,
      insert2Ini: null,
      insert2Fim: null,
      insert3Ini: null,
      insert3Fim: null,
      insert4Ini: null,
      insert4Fim: null,
      getIdTurma: null,
      updateIdTurma: null,
      updateTurma: null,
      updateIdProf: null,
      update1Ini: null,
      update1Fim: null,
      update2Ini: null,
      update2Fim: null,
      update3Ini: null,
      update3Fim: null,
      update4Ini: null,
      update4Fim: null,
      delIdTurma: null,
      getInfo: null,
      getInfoTurma: null,
      info: null
    }
  },
  methods: {
    create: function () {
      this.insert1Ini = moment(this.insert1Ini).format('DD/MM/YYYY')
      this.insert1Fim = moment(this.insert1Fim).format('DD/MM/YYYY')
      this.insert2Ini = moment(this.insert2Ini).format('DD/MM/YYYY')
      this.insert2Fim = moment(this.insert2Fim).format('DD/MM/YYYY')
      this.insert3Ini = moment(this.insert3Ini).format('DD/MM/YYYY')
      this.insert3Fim = moment(this.insert3Fim).format('DD/MM/YYYY')
      this.insert4Ini = moment(this.insert4Ini).format('DD/MM/YYYY')
      this.insert4Fim = moment(this.insert4Fim).format('DD/MM/YYYY')
      const cad = {
        "IdCadTurma": 0,
        "IdCadProfessor": this.insertIdProf,
        "NomeTurma": this.insertTurma,
        "B1Inicial": this.insert1Ini,
        "B1Final": this.insert1Fim,
        "B2Inicial": this.insert2Ini,
        "B2Final": this.insert2Fim,
        "B3Inicial": this.insert3Ini,
        "B3Final": this.insert3Fim,
        "B4Inicial": this.insert4Ini,
        "B4Final": this.insert4Fim
      }
      axios
        .post('https://eiko.com.br/dev/univesp/backend/api/Turma', cad)
        .then(response => (this.info = response.data))
    },
    get: function () {
      axios
        .get('https://eiko.com.br/dev/univesp/backend/api/Turma')
        .then(response => (this.getInfo = response.data))
    },
    getId: function () {
      axios
        .get(`https://eiko.com.br/dev/univesp/backend/api/Turma/${this.getIdTurma}`)
        .then(response => (this.getInfoTurma = response.data))
    },
    del: function () {
      axios
        .delete(`https://eiko.com.br/dev/univesp/backend/api/Turma/${this.delIdTurma}`)
        .then(response => (this.info = response.data))
    },
    put: function () {
      this.update1Ini = moment(this.update1Ini).format('DD/MM/YYYY')
      this.update1Fim = moment(this.update1Fim).format('DD/MM/YYYY')
      this.update2Ini = moment(this.update2Ini).format('DD/MM/YYYY')
      this.update2Fim = moment(this.update2Fim).format('DD/MM/YYYY')
      this.update3Ini = moment(this.update3Ini).format('DD/MM/YYYY')
      this.update3Fim = moment(this.update3Fim).format('DD/MM/YYYY')
      this.update4Ini = moment(this.update4Ini).format('DD/MM/YYYY')
      this.update4Fim = moment(this.update4Fim).format('DD/MM/YYYY')
      const cad = {
        "IdCadTurma": 0,
        "IdCadProfessor": this.updateIdProf,
        "NomeTurma": this.updateTurma,
        "B1Inicial": this.update1Ini,
        "B1Final": this.update1Fim,
        "B2Inicial": this.update2Ini,
        "B2Final": this.update2Fim,
        "B3Inicial": this.update3Ini,
        "B3Final": this.update3Fim,
        "B4Inicial": this.update4Ini,
        "B4Final": this.update4Fim,
      }
      console.log(cad)
      axios
        .put(`https://eiko.com.br/dev/univesp/backend/api/Turma/${this.updateIdTurma}`, cad)
        .then(response => (this.info = response.data))
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
.row {
  margin:0;
}
.request {
  margin: 0;
  margin-top: 15px;
}
.form-control {
  margin: 5px;
}

.col-form {
  text-align: left;
  margin: auto;
  padding: 5px;
}
.table-profs {
  margin: 2em;
}
.table-profs .row {
  border: 1px solid #000;
  border-radius: 8px;
}
</style>
