<template>
  <div>
    <div class="request row">
      <div class="form col">
      <h4 class="h4">Registrar Bimestre</h4>
      <input class="form-control" v-model="insertIdTurma" type="text" placeholder="Id Turma">

      <select class="form-control" v-model="insertIdBimestre">
        <option disabled value="">Escolha um bimestre</option>
        <option value="1">1º Bimestre</option>
        <option value="2">2º Bimestre</option>
        <option value="3">3º Bimestre</option>
        <option value="4">4º Bimestre</option>
      </select>

      <button class="btn btn-info" v-on:click="post">Inserir</button>
    </div>

    <div class="form col">
      <h4 class="h4">Buscar Bimestre</h4>
      <input class="form-control" v-model="getIdTurma" type="text" placeholder="Id Turma">

      <select class="form-control" v-model="getIdBimestre">
        <option disabled value="">Escolha um bimestre</option>
        <option value="1">1º Bimestre</option>
        <option value="2">2º Bimestre</option>
        <option value="3">3º Bimestre</option>
        <option value="4">4º Bimestre</option>
      </select>

      <button class="btn btn-info" v-on:click="get">Buscar</button>
    </div>

    <div class="form col">
      <h4 class="h4">Apagar Nota</h4>
      <input class="form-control" v-model="delIdTurma" type="text" placeholder="Id Turma">

      <select class="form-control" v-model="delIdBimestre">
        <option disabled value="">Escolha um bimestre</option>
        <option value="1">1º Bimestre</option>
        <option value="2">2º Bimestre</option>
        <option value="3">3º Bimestre</option>
        <option value="4">4º Bimestre</option>
      </select>

      <button class="btn btn-info" v-on:click="del">Apagar</button>
    </div>
    </div>
    <div class="result row">
      <div class="table-profs col" v-if="this.info !== null">
        <p>{{ this.info.Mensagem }}</p>
      </div>

      <div class="table-profs col" v-if="this.getInfo !== null">
        <p>{{ this.getInfo[0].IdentBimestre }}º BIMESTRE - TURMA {{ this.getInfo[0].IdCadTurma}}</p>
	<p> INFORMAÇÕES DO BIMESTRE </p>
	<p>Data de início: {{ this.getInfo[0].DataInicio }}</p>
	<p>Data de fim: {{ this.getInfo[0].DataFim }}</p>
	<p>Data de fechamento: {{ this.getInfo[0].DataFechamento }}</p>
          <ul class="row" v-for="turmaInfo in this.getInfo" :key="turmaInfo.IdResBimestre">
            <li class="col col-form">ID Aluno: {{ turmaInfo.IdCadAluno }}</li>
            <li class="col col-form">Ausencias: {{ turmaInfo.QtdAusencia }}</li>
            <li class="col col-form">Presenças: {{ turmaInfo.QtdPresenca }}</li>
            <li class="col col-form">Nota Final: {{ turmaInfo.NotaMedia }}</li>
          </ul>
        </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import moment from "moment";
export default {
  name: 'FormBimestreAluno',
  props: {
  },
  data () {
    return {
      insertIdBimestre: null,
      insertIdTurma: null,
      getIdBimestre: null,
      getIdTurma: null,
      delIdBimestre: null,
      delIdTurma: null,
      getInfo: null,
      info: null
    }
  },
  methods: {
    post: function () {
      axios
        .post(`https://eiko.com.br/dev/univesp/backend/api/BimestreTurma/${this.insertIdBimestre}/${this.insertIdTurma}`)
        .then(response => (this.info = response.data))
    },
    get: function () {
      axios
        .get(`https://eiko.com.br/dev/univesp/backend/api/BimestreTurma/${this.getIdBimestre}/${this.getIdTurma}`)
        .then(response => (this.getInfo = response.data))
	
	for (var infoBim in this.getInfo) {
          infoBim.DataFechamento = moment(infoBim.DataFechamento).format("DD/MM/YYYY")
          infoBim.DataInicio = moment(infoBim.DataInicio).format("DD/MM/YYYY")
          infoBim.DataInicio = moment(infoBim.DataInicio).format("DD/MM/YYYY")
        }
    },
    del: function () {
      axios
        .delete(`https://eiko.com.br/dev/univesp/backend/api/BimestreTurma/${this.delIdBimestre}/${this.delIdTurma}`)
        .then(response => (this.info = response.data))
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
.row {
  margin:0;
}
.request {
  margin: 0;
  margin-top: 15px;
}
.form-control {
  margin: 5px;
}

.col-form {
  text-align: left;
  margin: auto;
  padding: 5px;
}
.table-profs {
  margin: 2em;
}
.table-profs .row {
  border: 1px solid #000;
  border-radius: 8px;
}
</style>