<template>
  <div>
    <div class="request row">
      <div class="form col">
      <h4 class="h4">Incluir Aluno na Turma</h4>
      <form>
        <input class="form-control" v-model="insertIdTurma" type="text" placeholder="Id Turma">
        <input class="form-control" v-model="insertIdAluno" type="text" placeholder="Id Aluno">
        <button class="btn btn-info" v-on:click="create">Criar</button>
      </form>
    </div>
    <div class="form col">
      <h4 class="h4">Buscar Turma</h4>
      <button class="btn btn-info" v-on:click="get">Buscar</button>
    </div>
    <div class="form col">
      <h4 class="h4">Buscar Aluno</h4>
      <form>
        <input class="form-control" v-model="getIdAluno" type="text" placeholder="Id Aluno">
        <button class="btn btn-info" v-on:click="getId">Buscar</button>
      </form>
    </div>
    <div class="form col">
      <h4 class="h4">Desvincular Aluno da Turma</h4>
      <input class="form-control" v-model="delIdTurmaAluno" type="text" placeholder="Id Aluno">
      <button class="btn btn-info" v-on:click="del">Apagar</button>
    </div>
    </div>
    <div class="result row">
      <div class="table-profs col" v-if="this.info !== null">
        <p>{{ this.info.Mensagem}}</p>
      </div>

      <div class="table-profs col" v-if="this.getInfo !== null">
        <p>TURMAS VINCULADAS</p>
          <ul class="row" v-for="turmaInfo in this.getInfo" :key="turmaInfo.IdMovTurma">
            <li class="col col-form">ID: {{ turmaInfo.IdMovTurma }}</li>
            <li class="col col-form">ID Aluno: {{ turmaInfo.IdCadAluno }}</li>
            <li class="col-2 col-form">ID Turma: {{ turmaInfo.IdCadTurma }}</li>
          </ul>
        </div>

        <div class="table-profs col" v-if="this.getInfoTurma !== null">
          <p>ALUNO VINCULADO - ID {{ getInfoTurma.IdMovTurma }}</p>
          <ul class="row">
            <li class="col col-form">ID: {{ turmaInfo.IdMovTurma }}</li>
            <li class="col col-form">ID Aluno: {{ turmaInfo.IdCadAluno }}</li>
            <li class="col-2 col-form">ID Turma: {{ turmaInfo.IdCadTurma }}</li>
          </ul>
        </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
export default {
  name: 'FormTurmaAluno',
  props: {
  },
  data () {
    return {
      insertIdTurma: null,
      insertIdAluno: null,
      getIdTurma: null,
      getIdAluno: null,
      delIdTurmaAluno: null,
      getInfo: null,
      getInfoTurma: null,
      info: null
    }
  },
  methods: {
    create: function () {
      const cad = {
        "IdMovTurma": 0,
        "IdCadTurma": this.insertIdTurma,
        "IdCadAluno": this.insertIdAluno
      }
      axios
        .post('https://eiko.com.br/dev/univesp/backend/api/TurmaAluno', cad)
        .then(response => (this.info = response.data))
    },
    get: function () {
      axios
        .get('https://eiko.com.br/dev/univesp/backend/api/TurmaAluno')
        .then(response => (this.getInfo = response.data))
    },
    getId: function () {
      axios
        .get(`https://eiko.com.br/dev/univesp/backend/api/TurmaAluno/${this.getIdAluno}`)
        .then(response => (this.getInfoTurma = response.data))
    },
    del: function () {
      axios
        .delete(`https://eiko.com.br/dev/univesp/backend/api/TurmaAluno/${this.delIdTurmaAluno}`)
        .then(response => (this.info = response.data))
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
.row {
  margin:0;
}
.request {
  margin: 0;
  margin-top: 15px;
}
.form-control {
  margin: 5px;
}

.col-form {
  text-align: left;
  margin: auto;
  padding: 5px;
}
.table-profs {
  margin: 2em;
}
.table-profs .row {
  border: 1px solid #000;
  border-radius: 8px;
}
</style>
