<template>
  <div id="app">
    <div id="nav" class="navbar navbar-light bg-light">
      <router-link class="nav-item" to="/">Home</router-link>
      <router-link class="nav-item" to="/cadastro-aluno">Aluno</router-link>
      <router-link class="nav-item" to="/cadastro-prof">Professor</router-link>
      <router-link class="nav-item" to="/cadastro-turma">Turma</router-link>
      <router-link class="nav-item" to="/turma-aluno">Turma + Aluno</router-link>
      <router-link class="nav-item" to="/diario">Diário</router-link>
      <router-link class="nav-item" to="/avaliacao">Avaliação</router-link>
      <router-link class="nav-item" to="/bimestre">Bimestre</router-link>
    </div>
    <router-view/>
  </div>
</template>

<style>
router-link {
  display: block;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 20px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
  padding: 10px;
  border: 2px solid #42b983;
}
</style>
